.Todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Todo-input {
  border: none;
  width: 500px;
  height: 2rem;
  margin-right: 10px;
  background-color: azure;
  transition: all 0.5s ease;
  border-radius: 20px;
  padding: 10px;
}

.Todo-input:hover {
  background-color: aquamarine;
}

.Todo-button {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
  transition: all 0.5s ease;
}

.Todo-button:hover {
  transform: scale(1.1);
  background-color: brown;
}
