.Todo-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Todo-task {
  width: 600px;
  background-color: grey;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 30px;
  color: white;
}

.Todo-delete {
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
  transition: all 0.5s ease;
}

.Todo-delete:hover {
  background-color: brown;
}
