.classify-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 10px 0 10px;
    flex-direction: column;
}


.classify-btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    margin: 5px;
}

.classify-btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
    cursor: pointer;
}

.classify-btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}

.classify-title {
    text-align: center;
}

.classify-active,
.classify-hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    padding: 10px;
}

.classify-active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 16px;
}

.classify-hidden {
    display: none;
}

input {
    width: 230px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
}

.news-classnsumm {
    resize: none;
}

.news-classnsumm::-webkit-scrollbar {
    width: 6px;
}

.news-classnsumm::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
    border-radius: 10px;
}

.news-classnsumm::-webkit-scrollbar-track {
    background-color: #eeecec;
    border-radius: 10px;
}

@media(max-width:1000px) {
    #tex {
        height: 50%;
        width: 50%;
    }
}



@-webkit-keyframes background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classify-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(190, 190, 190),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.classify-alter-btn {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.classify-alter-btn:hover,
.classify-alter-btn:focus {
    background-color: #F082AC;
}


.tf-box {
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.confi-dis h3,
.tf-box h3 {
    text-align: center;
    padding: 0;

}

.tf-box span {
    text-decoration: underline;
}

.confi-dis {
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.confi-dis ul,
.tf-box ul {
    margin: 0;
    padding: 0;
}

.confi-dis,
.tf-box {
    padding: 10px 30px 30px 30px;
}

.confi-dis li,
.tf-box li {
    display: flex;
    justify-content: space-between;
}

.model-choose {
    display: flex;
    align-items: flex-end;
}

.model-choose h3 {
    margin: 0;
    padding: 0;
}

.select-style {
    padding: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;

    outline: none;
    border-bottom: 2px solid rgb(16, 130, 206);
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-left: 10px;
}

.select-style:hover {
    border-color: #999;
    border-radius: 30px;
}