<a href="Entertainment">Entertainment</a>
    <html>
        <body>
    
            <table border = 1>
                <thead>
                    <td>ID</td>
                    <td>Title</td>
                    <td>News</td>
                    <td>Link</td>
                    <td>Source</td>
                    <td>Category</td>
                    <td>Date</td>
                    <td>Confidence</td>
                </thead>
    
                {% for row in rows %}
                    <tr>
                        <td>{{row["primary_number"]}}</td>
    
                        <td>{{row["title"]}}</td>
                        <td>{{row["news"]}}</td>
                        <td>{{row["link"]}}</td>
                        <td>{{row["source"]}}</td>
                        <td>{{row["category"]}}</td>
                        <td>{{row["date"]}}
                    </tr>
                {% endfor %}
            </table>
    
            <a href = "/"> Go Back to Home Page </a>
    
        </body>
    </html>    
    
    <a href="Business">Business</a>